@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model userModel
<div>
    <label>Id:</label>@Model.Id<br />
    <label>Name:</label>@Model.Name<br />
    <label>Email:</label>@Model.Email<br />
</div>
