

@{
    ViewData["Title"] = "Home Page";
}
@model MVC練習.Models.userModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>我是 @Model.Name</p>
    <p>年齡 @Model.Id</p>
    <p>年齡 @Model.Email</p>
</div>
